extend layout

block content
  h1 Your contacts
  p Here is a list of your contacts.
  p
    a#delete.btn.btn-default(hrer="#") Delete
    |  
    a#add.btn.btn-default(href="/contacts/add") Add new
  table.table
    thead
      tr
        th
        th Name
        th Nickname
        th Email
    tbody
      if !contacts.length
        tr
          td(colspan=4) You should add a contact
      else
        each contact in contacts
          tr
            td
              input(type="checkbox", id=contact.id)
            td
              a(href="/contacts/#{contact.id}") #{contact.name}
              |  #{contact.job}
            td #{contact.nickname}
            td
              a(href="mailto:#{contact.email") #{contact.email}